@model ProjMovie.Models.ViewModels.MovieViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CMDB movieProject</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="~/css/detail.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="~/js/main.js"></script>
</head>
<body>
    <header>
        <a href = "https://localhost:44322/"> <!--TODO: Måste väl gå att länka på ett bättre sätt?-->
            <h1>CMDb</h1>
        </a>
    </header>
    <div class="content-wrapper">
        <div class="content">
            

            <div class="search-box" id="search-box">
                <input id="search-txt" class="search-txt" type="text" placeholder="Search" oninput="search(event)">
                <a class="search-btn" href="#">
                    <i class="fas fa-search"></i>
                </a>
                <ul id="result-list">
                    <li>
                        <a id="firstLink" href="#">
                            <div id="first"></div>
                        </a>
                    </li>
                    <li class="collapse">
                        <a id="secondLink" href="#">
                            <div id="second"></div>
                        </a>
                    </li>
                    <li class="collapse">
                        <a id="thirdLink" href="#">
                            <div id="third"></div>
                        </a>
                    </li>
                    <li class="collapse">
                        <a id="fourthLink" href="#">
                            <div id="fourth"></div>
                        </a>
                    </li>
                </ul>
            </div>
            <h2 class="detail-movie-title">@Model.Movie.Title</h2>
            <div class="single-movie">
                <img src="@Model.Movie.Poster" alt="Movie">
            </div>
            <div class="rate">
                <ul class="ratings">
                    <li onclick="likeBtnClick();" class="onHover" id="ListItemLike" data-imdbid="@Model.Movie.ImdbID">
                        <div>
                            <img src="/Images/likeBW.jpg" alt="">
                        </div>
                        <div class="hover">
                            <img src="/Images/likeColorOutline.jpg" alt="" id="likeHoverImg">
                        </div>

                    </li>
                    <li id="numberOfLikes">
                        <p>@Model.Ratings.NumberOfLikes</p>
                    </li>
                    <li onclick="dislikeBtnClick();" class="onHover" id="ListItemDislike" data-imdbid="@Model.Movie.ImdbID">
                        <div class=rateImg>
                            <img src="/Images/dislikeBW.jpg" alt="">
                        </div>
                        <div class="hover">
                            <img src="/Images/dislikeColorOutline.jpg" alt="" id=dislikeHoverImg>
                        </div>
                    </li>
                    <li id="numberOfDislikes">
                        <p>@Model.Ratings.NumberOfDislikes</p>
                    </li>
                </ul>
            </div>
            <div class="flex-container">
                <div class="movie-info-column1">
                    <div class="single-movie-info">
                        <p><b>Year:</b> <span>@Model.Movie.Year</span></p>
                    </div>
                    <div class="single-movie-info">
                        <p><b>Genre:</b> <span>@Model.Movie.Genre</span></p>
                    </div>
                </div>
                <div class="movie-info-column2">
                    <div class="single-movie-info">
                        <p><b>Runtime:</b> <span>@Model.Movie.Runtime</span></p>
                    </div>
                    <div class="single-movie-info">
                        <p><b>Language:</b> <span>@Model.Movie.Language</span></p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <div class="accordion-item-header">
                        Plot
                    </div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            @Model.Movie.Plot
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-header">
                        Actors
                    </div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            @Model.Movie.Actors
                        </div>
                    </div>
                </div>
            </div>
            <script>
                const accordionItemHeaders = document.querySelectorAll(".accordion-item-header");

                accordionItemHeaders.forEach(accordionItemHeader => {
                    accordionItemHeader.addEventListener("click", event => {
                        accordionItemHeader.classList.toggle("active");
                        const accordionItemBody = accordionItemHeader.nextElementSibling;
                        if (accordionItemHeader.classList.contains("active")) {
                            accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
                        }
                        else {
                            accordionItemBody.style.maxHeight = 0;
                        }
                    });
                });
            </script>
        </div>
        <footer>
            <ul class="footer-links">
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="/Images/FacebookBW.jpg" alt="facebook">
                        </div>
                        <div class="hover-img">
                            <img src="/Images/FacebookColor.jpg" alt="facebook">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="logo" src="/Images/InstagramBW.jpg" alt="instagram">
                        <img class="hover-img" src="/Images/InstagramColor.jpg" alt="instagram">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="logo" src="/Images/TwitterBW.jpg" alt="twitter">
                        <img class="hover-img" src="/Images/twitterColor.jpg" alt="twitter">
                    </a>
                </li>
            </ul>
            <p class="copyright"><b>&copy; 2020 CMDb</b></p>
        </footer>
    </div>
</body>
</html>