@model List<ProjMovie.Models.ViewModels.MovieViewModel>
@{var topfilm = Model[0].Movie.ImdbID;}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>CMDB movieProject</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/main.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="~/js/main.js"></script>
</head>
<body>
    <header>
        <h1>CMDb</h1>
    </header>
    <div class="content-wrapper">
        <div class="content">




            <div class="search-box" id="search-box">
                <input id="search-txt" class="search-txt" type="text" placeholder="Search" oninput="search(event)">
                <a class="search-btn" href="#">
                    <i class="fas fa-search"></i>
                </a>
                <ul id="result-list">
                    <li>
                        <a id="firstLink" href="#">
                            <div id="first"></div>
                        </a>
                    </li>
                    <li class="collapse">
                        <a id="secondLink" href="#">
                            <div id="second"></div>
                        </a>
                    </li>
                    <li class="collapse">
                        <a id="thirdLink" href="#">
                            <div id="third"></div>
                        </a>
                    </li>
                    <li class="collapse">
                        <a id="fourthLink" href="#">
                            <div id="fourth"></div>
                        </a>
                    </li>
                </ul>
            </div>


            <a href="Detail/Index/@topfilm" class="movie-link">
                <h1 class="top-movie-title">@Model[0].Movie.Title</h1>
            </a>
            <div class="top-movie">
                <a href="/Detail/Index/@topfilm" class="linktomovie">
                    <img src="@Model[0].Movie.Poster" alt="Top Movie" onerror="this.onerror=null; this.src='Images/poster.jpg'">
                    <div class="info">
                        <div class="info-text">
                            <h2>@Model[0].Movie.Title</h2>
                            <p>Rating: @Model[0].Ratings.Rating</p>
                        </div>
                    </div>
                </a>
                <div class="movie-plot">
                    <p>@Model[0].Movie.Short<span class="dots">...</span> <span class="more">@Model[0].Movie.Full</span></p>
                    <button onclick="ReadMore(event)" class="myBtn">Read more</button>
                </div>
            </div>
            <ul class="movie-list">
                @foreach (var film in Model)
                {
                    if (film.Movie.ImdbID != topfilm)
                    {
                        <li>
                            <a href="Detail/Index/@film.Movie.ImdbID" class="linktomovie">
                                <img src="@film.Movie.Poster" alt="poster" onerror="this.onerror=null; this.src='Images/poster.jpg'">
                                <div class="info">
                                    <div class="info-text">
                                        <h2>@film.Movie.Title</h2>
                                        <p>Rating: @film.Ratings.Rating</p>
                                    </div>
                                </div>
                            </a>
                            <div class="movie-plot">
                                <p>@film.Movie.Short<span class="dots">...</span> <span class="more">@film.Movie.Full</span></p>
                                <button onclick="ReadMore(event)" class="myBtn">Read more</button>
                            </div>
                        </li>
                    }

                }
            </ul>
        </div>
        <footer>
            <ul class="footer-links">
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="/Images/FacebookBW.jpg" alt="facebook">
                        </div>
                        <div class="hover-img">
                            <img src="/Images/FacebookColor.jpg" alt="facebook">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="logo" src="/Images/InstagramBW.jpg" alt="instagram">
                        <img class="hover-img" src="/Images/InstagramColor.jpg" alt="instagram">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="logo" src="/Images/TwitterBW.jpg" alt="twitter">
                        <img class="hover-img" src="/Images/twitterColor.jpg" alt="twitter">
                    </a>
                </li>
            </ul>
            <p class="copyright"><b>&copy; 2020 CMDb</b></p>
        </footer>
    </div>
</body>
</html>