@model List<ProjMovie.Models.DTO.MovieDTO>
@{var topfilm = Model[0].ImdbID;}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>CMDB movieProject</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/main.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="~/js/main.js"></script>
</head>
<body>
    <div class="content-wrapper">
        <div class="content">

            <header>
                <h1>CMDb</h1>
            </header>


            <div class="search-box">
                <input class="search-txt" type="text" placeholder="Search">
                <a class="search-btn" href="#">
                    <i class="fas fa-search"></i>
                </a>
            </div>
            <a href="Detail/Index/@Model[0].ImdbID" class="movie-link">
                <h1 class="top-movie-title">@Model[0].Title</h1>
            </a>
            <div class="top-movie">
                <a href="/Detail/Index" class="linktomovie">
                    <img src="@Model[0].Poster" alt="Top Movie">
                    <div class="info">
                        <div class="info-text">
                            <h2>@Model[0].Title</h2>
                            <p>@Model[0].Year</p>
                        </div>
                    </div>
                </a>
                <div class="movie-plot">
                    <p>@Model[0].Short<span class="dots">...</span> <span class="more">@Model[0].Full</span></p>
                    <button onclick="ReadMore(event)" class="myBtn">Read more</button>
                </div>
            </div>
            <ul class="movie-list">
                @foreach (var film in Model)
                {
                    if (film.ImdbID != topfilm)
                    {
                        <li>
                            <a href="Detail/Index/@film.ImdbID" class="linktomovie">
                                <img src="@film.Poster" alt="poster">
                                <div class="info">
                                    <div class="info-text">
                                        <h2>@film.Title</h2>
                                        <p>more info bla bla</p>
                                    </div>
                                </div>
                            </a>
                            <div class="movie-plot">
                                <p>@film.Short<span class="dots">...</span> <span class="more">@film.Full</span></p>
                                <button onclick="ReadMore(event)" class="myBtn">Read more</button>
                            </div>
                        </li>
                    }

                }
            </ul>
        </div>
        <footer>
            <ul class="footer-links">
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="/Images/FacebookBW.jpg" alt="facebook">
                        </div>
                        <div class="hover-img">
                            <img src="/Images/FacebookColor.jpg" alt="facebook">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="logo" src="/Images/InstagramBW.jpg" alt="instagram">
                        <img class="hover-img" src="/Images/InstagramColor.jpg" alt="instagram">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="logo" src="/Images/TwitterBW.jpg" alt="twitter">
                        <img class="hover-img" src="/Images/twitterColor.jpg" alt="twitter">
                    </a>
                </li>
            </ul>
            <p class="copyright"><b>&copy; 2020 CMDb</b></p>
        </footer>
    </div>
</body>
</html>